<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layouts :: header"></head>

    <body>
    <nav th:replace = "layouts :: navbar"> </nav>
 		
 		<div class="container">
 		
			<h3>Employee Directory</h3>
			<hr>
	 		<a th:href="@{/employee/new}"
					class="btn btn-primary btn-sm mb-3"> 
					Add Employee 
				</a> 
				<br></br>
	        <h4> Current Employees </h4>
	        <table class="table table-bordered table-striped">
	            <thead class="thead-dark"> 
	                <tr>
	                    <th> Employee First Name</th>
	                    <th> Employee Last Name</th>
	                    <th> Employee Email </th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="aEmployee : ${employeeList} "> 
	                    <td th:text="${aEmployee.firstName}" >
	                    <td th:text="${aEmployee.lastname}" >
	                    <td th:text="${aEmployee.email}" >
	                </tr>
	            </tbody>
	        </table>
        </div>        
    </body>

</html>